.DS_Store
data/pretrained_models/hrnetv2_w48_imagenet_pretrained.pth
lib/config/__pycache__/__init__.cpython-36.pyc
lib/config/__pycache__/default.cpython-36.pyc
lib/config/__pycache__/models.cpython-36.pyc
lib/core/__pycache__/criterion.cpython-36.pyc
lib/core/__pycache__/function.cpython-36.pyc
lib/datasets/__pycache__/__init__.cpython-36.pyc
lib/datasets/__pycache__/base_dataset.cpython-36.pyc
lib/datasets/__pycache__/cityscapes.cpython-36.pyc
lib/datasets/__pycache__/lip.cpython-36.pyc
lib/datasets/__pycache__/pascal_ctx.cpython-36.pyc
lib/models/__pycache__/__init__.cpython-36.pyc
lib/models/__pycache__/seg_hrnet.cpython-36.pyc
lib/utils/__pycache__/__init__.cpython-36.pyc
lib/utils/__pycache__/modelsummary.cpython-36.pyc
lib/utils/__pycache__/utils.cpython-36.pyc
log/cityscapes/seg_hrnet/seg_hrnet_w48_train_512x1024_sgd_lr1e-2_wd5e-4_bs_12_epoch484_2020-11-03-17-18/events.out.tfevents.1604391538.Injes-MacBook-Pro.local
output/cityscapes/seg_hrnet_w48_train_512x1024_sgd_lr1e-2_wd5e-4_bs_12_epoch484/seg_hrnet_w48_train_512x1024_sgd_lr1e-2_wd5e-4_bs_12_epoch484_2020-11-03-17-18_train.log
tools/__pycache__/_init_paths.cpython-36.pyc
lib/config/__pycache__/__init__.cpython-36.pyc
lib/config/__pycache__/default.cpython-36.pyc
lib/config/__pycache__/models.cpython-36.pyc
lib/core/__pycache__/criterion.cpython-36.pyc
lib/core/__pycache__/function.cpython-36.pyc
lib/datasets/__pycache__/__init__.cpython-36.pyc
lib/datasets/__pycache__/base_dataset.cpython-36.pyc
lib/datasets/__pycache__/cityscapes.cpython-36.pyc
lib/datasets/__pycache__/lip.cpython-36.pyc
lib/datasets/__pycache__/pascal_ctx.cpython-36.pyc
tools/__pycache__/_init_paths.cpython-36.pyc
